body {
    margin: 0;
}
.board-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    color: yellow;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grid {
    background-color: #f9f9f9;
    
}

.nav {
    background-color: pink;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: block;
    margin: 0;
    background-image: linear-gradient(#2c3e50, #3498db);
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: pink;
    font-size: 2em;
    text-shadow: 2px 2px #ff0000;
}

i {
    transition: 0.7s;
    margin-top: .5%;
    cursor: pointer;
}

i:hover {
    color: white;
}

.fa-sliders-h {
    float: left;
    margin-left: .5%;
}

.fa-eraser {
    float: right;
    margin-right: .5%;
}

.settings {
    position: absolute;
    z-index: 3;
    margin: 25.5%;
    margin-top: 15%;
    background-image: linear-gradient(#2c3e50, #3498db);
    height: 45%;
    width: 45%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.45);
}

.fa-times-circle {
    float: right;
    margin-right: .5%;
    color: pink;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
}

.gridForm input {

}